* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Recursive", sans-linear;
    src: url(./fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --laranja: #F15A24;
    --marron: #A36D37;
}

.espacosLateral {
    max-width: 1400px;
    width: 80vw;
    margin: 0 auto
}

/* ----------------------banner------------------- */
.banner {
    background-image: url(./imgs/Group\ 54.png);
    height: 100vh;
    background-repeat: no-repeat;
}

header img {
    width: 253px;
}

#campo-pesquisa {
    width: 800px;
}

header {
    height: 165px;
}

header.espacosLaterais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -------------------menu---------------- */
.menu a {
    font-size: 30px;
    color: white;
    font-family: "Recursive",sans-linear;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    margin: 50px;

}

#sobre {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;
    font-family: "Recursive";
    font-size: 30px;
}


#sobre img {
    max-width: 460px;
    width: 40%;
    border-radius: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#sobre p {
    font-family: "Recursive",sans-linear;
    font-size: 30px;
    text-align: justify;
    margin-top: 60px;
}


.conteudo-banner img {
    align-items: center;

}

section img {
    max-width: 700px;
    width: 350px;
    border-radius: 100px;
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.5);

}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 400px;
    margin: 150px;

}


.conteudo-banner img {
    width: 600px;
    display: flex;
    margin-top: 140px;
    margin-left: 900px;
}

/* -------------------------parallax------------------- */
#parallax-1 {
    height: 200px;
    margin: 0;
    background-image: url(./imgs/Grv oup\ 33.png);
    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./imgs/Group\ 33.png);
    background-attachment: fixed;
    background-size: 40%;
    margin-bottom: 100px;
}

/* ------------------------------------------------------ */
.text-img {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-sobre p {
    font-family: "Recursive", sans-linear;
    margin-top: 90px;
    font-size: 200px;
    text-align: justify;

}

.conteudo-sobre {
    margin-top: -20px;
}

.titulo {
    margin-bottom: 0px;
    color: var(--marron);

}

/* ------------------------------------------------ */
#parallax-2 {
    height: 200px;
    margin: 0;
    background-image: url(./imgs/Grv oup\ 33.png);
    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./imgs/Group\ 33.png);
    background-attachment: fixed;
    background-size: 40%;
    margin-bottom: 85px;

    margin-top: 150px;
}

/* ------------------cards-------------------------- */

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;

    width: 350px;
    margin: 25px;
    padding: 50px 30px;
    border-radius: 50px;
    background-color: var(--branco);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}


.container-cards {
    margin-top: -100px;
}

.titulo2 {
    margin-left: 0px;
    margin-top: -140px;
}
/* ----------------------------- */
#meuCarrossel {
    max-width: 1170px;
    width: 90;
}

.retangulo{
    margin-left: -400px;
}
/* -----------------contato-------------------- */
#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato .titulo {
    justify-content: center;
    margin-bottom: 55px;
}

#contato h2 {
    margin-left: 5px;
}

#contato form {
    width: 90%;
    max-width: 980px;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 40px;
    background-color: var(--laranja);
    border: solid 3px var(--preto);

    color: var(--preto);
    font-family: "Recursive", sans-linear;
    font-size: 17px;
}

.campo {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao{
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content:space-between ;

    margin-bottom: 30px;
}

.campo input{
    height:40px;

    color:var(--preto) ;
    background-color: var(--branco);

    border: none;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    color:var(--preto);
    background-color:var(--branco);

    border: none;
    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;
}

.campo-label,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: "Recursive", sans liner;
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--laranja);
}

#contato form button {
    height: 40px;
    width: 60%;

    background-color: var(--preto);
    color: var(--branco);

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: var(--marron);
}

